<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
      <title>Flask Blog - {{ title }}</title>
    {% else %}
      <title> Flask Blog </title>
    {% endif %}
  </head>
  <body>
    {% for post in posts %}
      <h1>{{ post.title }}</h1>
      <p>{{ post.author}} on {{ post.Date_Posted }}</p>
      <p>{{ post.Content }}</p>
    {% endfor %}
  </body>
</html>
